services:
  backend:
    build: ./backend
    container_name: express_backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    command: npm run dev
    restart: unless-stopped