@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background.png");
  background-repeat: repeat; /* 画像を並べて敷き詰める */
  background-attachment: fixed; /* スクロールしても背景を動かさない */
  background-size: cover; /* 画面全体を覆うように拡大・縮小する */
  background-position: center; /* 画像の中央を画面の中央に合わせる */
}
